<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RenewYou!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
</head>

<body class ="bg-amber-100 bg-gradient-to-r from-rose-200 to-teal-100 text-center font-serif">
  <div class="flex-column justify-space-around text-center">
    <header class="flex justify-space-between items-center text-center p-2">
      <h1 class ="text-3xl text-center">
        <span role="img" aria-label="bunny">🐇</span>
        <a href="/" class ="text-purple-400 text-center">Welcome!!!</a>
      </h1>
     
     <h2 class ="text-3xl animate-pulse text-purple-400 text-right">One Day At A Time</h2>
   <div class="profile">

    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
