<head>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>


<!-- Loop over each object in the projects array -->
<h1 class="text-teal-600 text-3xl font-bold">This is a beginning to a newer YOU!</h1>