<head>
    <link rel="stylesheet" href="/public/css/styles.css">

</head>


<!-- Loop over each object in the projects array -->
<h1 class="text-teal-400 text-3xl font-bold">Welcome New User (Username)</h1>
<h1 class="text-purple-400 text-2xl font-bold">This is a beginning to a Newer YOU!</h1>
<br>
<h1 class="text-teal-400 text-2xl font-bold">Question 1</h1>
<br>
<h1 class="text-teal-400 text-2xl font-bold">Question 2</h1>
<br>
<h1 class="text-teal-400 text-2xl font-bold">Question 3</h1>
<br>
<br>
<br>
<br>
<img src="{{imageUrl}}" alt="{{imageAltText}}" id="output">
<div id="output"></div>

<h3>I couldn't see the doc to see what we wanted here </h3>

