<head>
    <link rel="stylesheet" href="/public/css/styles.css">

</head>


<!-- Loop over each object in the projects array -->
<h1 class="text-teal-400 text-3xl font-bold">Welcome New User (Username)</h1>
<h1 class="text-purple-400 text-2xl font-bold">Congratulations on your path to becoming a NEWER YOU!</h1>
<br>
<h1 class="text-teal-400 text-2xl font-bold">On average, how much do you spend on alcohol in a day?</h1>
<br>
<h1 class="text-teal-400 text-2xl font-bold">Are you Sober today?</h1>
<br>
<br>
<br>
<br>


