<head>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>


<!-- Loop over each object in the projects array -->
<h1 class="text-violet-600">HomePage</h1>
<div class ="text-violet-500"hello there ></div>