<head>
    <link rel="stylesheet" href="/public/css/styles.css">

</head>


<!-- Loop over each object in the projects array -->
<h1 class="text-teal-400 text-3xl font-bold">Welcome Back!!(Username)</h1>
<button>YES</button>
<button>No</button>

<br>
<h1 class="text-teal-400 text-2xl font-bold">Did You Drink Yesterday?</h1>
<br>
<br>
<br>
<br>
<br>